new.erb
<form id="sms_message" action='/messages' method='post'>
<label for="sender">From: </label>
<br>
<input type="text" name="message[from]" placeholder="From: ">
<br>
<label for="recipient">To: </label>
<br>
<input type="text" name="message[to]" placeholder="To: ">
<br>
<label for="recipient">Message: </label>
<br>
<textarea rows="10" cols="30" name="message[body]" placeholder="Message"></textarea>
<input type="submit" value="Send Message">
</form>