<form id="sms_message" action='/messages' method='post'>

  <div class="form-group">
  <label for="sender">From: </label>
  <input type="text" name="message[from]" placeholder="From: ">
  </div>

  <div class="form-group">
  <label for="recipient">To: </label>
  <input type="text" name="message[to]" placeholder="To: ">
  </div>

  <div class="form-group">
  <label for="recipient">Message: </label>
  <textarea rows="10" cols="30" name="message[body]" placeholder="Message"></textarea>
  </div>

  <input class="btn btn-default" type="submit" value="Send Message">
</form>