<h1>Hello, <span class="highlight"><%= @user.username.capitalize %></span></h1>

<h2>Browse those <span class="highlight">Contacts</span></h2>


<a href="/messages" class="btn btn-default">Create Message</a>