<h1>For the moments in life that can wait</h1>

<p><span class="future">Future</span><span class="future highlight">Text</span></p>

<img id="cell" src="/cellphone.png">
<img id="sandwich" src="/sandwich.png">
<img id="joshwill" src="/joshwill.png">
<img id="becky" src="/becky.png">