<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
  <nav id="custom-bootstrap-menu" class="nav navbar-default">
    <ul class="nav nav-pills">
      <% if session[:user_id] %>
        <li class="navbar-header">
<a href="/"></i>Home</a></li>
        <li class="navbar-header"><a href="/users/<%= session[:user_id] %>">Profile</a></li>
        <li class="navbar-header"><a href="/logout">Logout</a></li>
      <% else %>
        <li class="navbar-header"><a href="/">Home</a></li>
        <li class="navbar-header"><a href="/login">Login</a></li>
        <li class="navbar-header"><a href="/users/new">Register</a></li>
      <% end %>
    </ul>
  </nav>
  </header>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
